{% extends 'trainee/traineetemplate.html'%}
{%block title%}Profile{%endblock%}

{% load static %}

{%block style%}
.section{
border-radius: 4.2px;
box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
position: fixed;
}
.testimonial .pic{
    width: 22%;
    padding: 20px 0;
    margin: 0 6% 0 2%;
    float: left;
    position: relative;
    z-index: 1;
}
.testimonial .pic:before,
.testimonial .pic:after{
    content: "";
    width: 130px;
    height: 150px;
    background: #e1c37d;
    position: absolute;
    z-index: -1;
}
.testimonial .pic:before{
    top: 0;
    right: -20px;
}
.testimonial .pic:after{
    bottom: 0;
    left: -20px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
    border: 3px solid #e1c37d;
}
.testimonial .testimonial-content{
    padding-top: 65px;
    width: 70%;
    float: right;
}
@media only screen and (max-width: 990px){
    .testimonial{ text-align: center; }
    .testimonial .pic{
        width: 200px;
        margin: 0 auto;
        float: none;
    }
    .testimonial .pic:before,
    .testimonial .pic:after{
        width: 80px;
        height: 100px;
    }
    .testimonial .testimonial-content{
        width: 100%;
        float: none;
    }
}
{%endblock%}


{%block body%}
{%if user.is_authenticated%}


  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Profile</h1>
      </div>

      <div class="section p-4">
           <div class="testimonial">
               <div class="pic">
                  <img src="/media/{{Trainee.Photo}}">
               </div>
               <div class="testimonial-content">
                   <h3 class="title">{{user.first_name}} {{user.last_name}}</h3>
                   <span class="post">{{user.email}}</span>
                   <p class="description">
                       <ul>
                           <li>Phone: {{Trainee.Phone}}</li>
                            <li>Address: {{Trainee.Address}}, {{t.City}} </li>
                            <li>Gender: {{Trainee.Gender}}</li>
                            <li>Date of Admission: {{Trainee.DateOfAdmission}}</li>
                       </ul>
                   </p>
               </div>
           </div>
      </div>
  </main>
{%endif%}
{%endblock%}
