{% extends 'trainer/trainertemplate.html'%}
{%block title%}AddTips{%endblock%}

{% load static %}

{%block style%}
.form{
border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
{%endblock%}


{%block body%}
{%if user.is_authenticated%}


  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Add Tips</h1>
      </div>
          <div class="form p-4">
          <form method="post" action="/addtips/" class="needs-validation" >
          {% csrf_token %}
          <div class="mb-3 row">
              <label for="tips" class="col-sm-2 col-form-label fw-bold fs-4">Tips</label>
              <div class="col-sm-10">
                  <textarea  class="form-control" id="tips" name="tips"></textarea>
              </div>
          </div>
              <button class="btn btn-warning" type="submit">Submit</button>
          </form>
          </div>
  </main>
{%endif%}
{%endblock%}
